.container {
    height: 300px;
    width: 99%;
    border: 5px solid #000;
}

.box {
    height: 100px;
    width: 200px;
}

.box_1, .box_4, .box_7 {
    background-color: #0000ff;
}

.box_2, .box_5, .box_8 {
    background-color: #FF0000;
}

.box_3, .box_6, .box_9 {
    background-color: #22FF00;
}

.container_1 {
    display: flex;
    justify-content: space-around;
}

.container_2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}