@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


html,
body {
    height: 100%;
    width: 100%;
}

/*               header              */

header {
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#ececf1;
    border-bottom: 30px solid #0f0f00;
}

.img_logo {
    margin-left: 200px;
    height: 180px;
}

.container_00 {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_01 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links_01 {
    text-decoration: none;
    width: 33%;
    margin: 0px 70px 0px 70px;
    color: #0f0f00;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

/*               header              */

/*                Main               */

main {
    height: 2000px;
    width: 100%;
    background-color: #fafafa;
}

/* Rodrigo Faro */

.container_06 {
    height: 400px;
    width: 100%;
    display: flex;
    background-color: #68688c;
    border-bottom: 50px solid #0f0f00;
}

.img_rodrigo {
    margin-left: 20%;
    height: 100%;
}

.container_07 {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.txt_rodrigo {
    position: relative;
    right: 50px;
    top: 60px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}

.img_logoR{
    margin-top: 60px;
    height: 250px;
}

.container_08 {
    position: relative;
    right: 80px;
    bottom: 30px;
    margin-top: 50px;
    height: 160px;
    width: 220px;
    /* background-color: #f5d833; */
    border: 2px solid #0f0f00;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt {
    font-family: 'Josefin Sans', sans-serif
}

.txt1 {
    margin-top: 10px;
    font-size: 6.5em;
}

.txt2 {
    font-size: 2em;
}

.txt3 {
    font-size: 1em;
}

/* Produtos */

.container_09 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.container_10 {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    height: 440px;
    border-radius: 30px 10px 30px 10px;
    transition: 1s;
}

.txt_img {
    width: 290px;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 15px;
}

.precos {
    font-size: 22px;
}

.parcelas {
    margin-left: 10px;
    font-size: 13px;
}

.container_precos {
    margin-top: 20px;
    padding-left: 15px;
    display: flex;
}

/* 
.img1:hover {
    background-image: url(/IMG/terno.jpeg);
} */

.container {
    margin: 60px 15px 0px 15px;
}

.container_11 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
} 

button {
    font-weight: bold;
    background-color: #000;
    color: #ececf1;
    border: 0px;
    border-radius: 10px;
    padding: 10px 12px 10px 12px;
}

/*                Main               */

/*               Footer              */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15%;
    width: 100%;
    background-color:#0f0f00;
    font-family: 'Josefin Sans', sans-serif;
}

.container_02 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container_03 {
    font-size: 2em;
    margin-right: 50px;
    color: #9b9191;
}

.txtfooter {
    display: inline-block;
}

.img_icon {
    height: 20px;
    margin-right: 20px;
}

.links_02 {
    text-decoration: none;
    color: #0f0f00;
    font-size: 1.2em;
}

.i_txt {
    background: -webkit-linear-gradient(30deg, #f5d833, #cf1b1b, #f32c7f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.f_txt {
    background: -webkit-linear-gradient(45deg, #28e3fc, #282be7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.t_txt {
    background: -webkit-linear-gradient(60deg, #34ff90, #2beffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container_05 {
    color: #9b9191;
    font-weight: bold;
    font-size: 1.2em;
}

/*               Footer              */